.inputpadrao {  
       
    color: lightcoral;

}
#gmail{


     width: 10%;
    padding-left: auto;
} 
#whatsapp{

     width: 10%;
     padding-left: auto;
}
#telefone{

     width: 10%;
     padding-left: auto;
}